<section class="data-detail-section" *ngFor="let item of data">
    <app-back-button [link]="['/data-list']"></app-back-button>
    <div class="container bg">
        <div class="data-detail-items">
            <div class="title">
                <h1>ლეპტოპის ინფო</h1>
            </div>
            <div class="user-info">
                <div class="img">
                    <img src="https://pcfy.redberryinternship.ge/{{item.data.laptop.image}}" alt="">
                </div>
                <div class="info-wrapper">
                    <app-info name="სახელი:" prop="{{item.data.user.name}}"></app-info>
                    <app-info name="თიმი:" *ngIf="teamsExist"  prop="{{teams[0].data[0].name}}"></app-info>
                    <app-info name="პოზიცია:" *ngIf="positionsExist" prop="{{positions[0].data[0].name}}"></app-info>
                    <app-info name="იმეილი:"  prop="{{item.data.user.email}}"></app-info>
                    <app-info name="ტელ. ნომერი:"  prop="{{item.data.user.phone_number}}"></app-info>   
                </div>
            </div>
            <div class="laptop-info">
                <div class="laptop-info-wrapper">
                    <app-info name="ლეპტოპის სახელი:"  prop="{{item.data.laptop.name}}"></app-info>   
                    <app-info name="ლეპტოპის ბრენდი:" *ngIf="brandsExist"  prop="{{brands[0].data[0].name}}"></app-info>   
                    <app-info name="RAM:"  prop="{{item.data.laptop.ram}}"></app-info>   
                    <app-info name="მეხსიერების ტიპი:"  prop="{{item.data.laptop.hard_drive_type}}"></app-info>   
                </div>
                <div class="laptop-info-wrapper">
                    <app-info name="CPU:"  prop="{{item.data.laptop.cpu.name}}"></app-info>   
                    <app-info name="CPU-ს ბირთვი:"  prop="{{item.data.laptop.cpu.cores}}"></app-info>   
                    <app-info name="CPU-ს ნაკადი:"  prop="{{item.data.laptop.cpu.threads}}"></app-info>   
                </div>
            </div>
            <div class="laptop-info">
                <div class="laptop-info-wrapper">
                    <app-info name="ლეპტოპის მდგომარეობა:"  prop="{{item.data.laptop.state === 'new' ? 'ახალი' : 'მეორადი'}}"></app-info>   
                    <app-info name="ლეპტოპის ფასი:"  prop="{{item.data.laptop.price}}"></app-info>   
                </div>
                <div class="laptop-info-wrapper">
                    <app-info name="შეძენის რიცხვი:" *ngIf="item.data.laptop.purchase_date"  prop="{{item.data.laptop.purchase_date}}"></app-info>   
                </div>
            </div>
        </div>
    </div>
</section>