<section class="data-detail-section">
    <div class="container bg">
        <div class="data-detail-items">
            <div class="tilte">
                <h1>ლეპტოპის ინფო</h1>
            </div>
            <div class="user-info">
                <div class="img"></div>
                <div class="info-wrapper">
                    <div class="info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="info">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>