<section class="form-section">
  <app-back-button [link]="['/home']"></app-back-button>
  <div class="form-items">
    <div class="tabs">
      <div class="tab">
        <button>
          თანამშრომლების ინფო
        </button>
        <div class="line active"></div>
        <div class="page-count">
          1/2
        </div>
      </div>
      <div class="tab">
        <button (click)="toLaptopFormPage()">ლეპტოპის მახასიათებლები</button>
        <div class="line"></div>
      </div>
    </div>
    <div class="form-item">
      <div class="container">
        <form id="form" [formGroup]="userForm">
          <div class="input-fields">
            <app-input-field placeHolder="" hint="მინიმუმ 2 სიმბოლო ქართული ასოები" controlName="სახელი" patternText="გამოიყენე ქართული ასოები" [form]="userForm" control="name" [isSubmited]="isSubmited"></app-input-field>
            <app-input-field placeHolder="" hint="მინიმუმ 2 სიმბოლო ქართული ასოები" controlName="გვარი" patternText="გამოიყენე ქართული ასოები" [form]="userForm" control="surname" [isSubmited]="isSubmited"></app-input-field>
          </div>
          <app-select [form]="userForm" label="თიმი" control="team_id" [items]="teams"></app-select>
          <app-select [form]="userForm" label="პოზიცია" control="position_id" [items]="positions"></app-select>
          <div class="field-wrapper">
            <app-input-field placeHolder="" [form]="userForm" hint="უნდა მთავრდებოდეს redberry.ge-ით" controlName="იმეილი" invalidMessage="შეიყვანეთ სწორი იმეილი რომელიც მთავრდება @redberry.ge-ით" control="email" [isSubmited]="isSubmited"></app-input-field>
          </div>
          <div class="field-wrapper">
            <app-input-field placeHolder="" [form]="userForm" hint="უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ბაზას" controlName="ტელეფონის ნომბერი" patternText="უნდა იწყებოდეს +სით და აკმაყოფილებდეს ქართული მობ-ნომრის ბაზას" control="phone_number" [isSubmited]="isSubmited"></app-input-field>
          </div>
          <div class="submit-wrapper">
            <button (click)="toLaptopFormPage()" type="submit">შემდეგი</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>