@import "../../components/colors.scss";
@import "../../components/mixins.scss";
.main-section{
  width: 100%;
  padding-top: 10px;
  .main-items{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        .item{
          width: 112px;
          height: 18px;
          background-image: url('/assets/img/logo.png');
          background-size: cover;
        }
      }
      .redberry-svg{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .item{
          width: 700px;
          height: 400px;
          background-image: url('/assets/img/layer1.png');
          background-size: 100% 100%;
          background-position: center center;
        }
      }
     .links{
       width: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 20px;
       a{
         width: 387px;
         height: 60px;
         margin-top: 20px;
         @include input;
       }
     }
  }
}
