<section *ngIf="!showPopUp" class="form-section">
    <app-back-button [link]="['/user-form']"></app-back-button>
    <div class="form-items">
        <div class="tabs"> 
        <div class="tab">
          <button (click)="toUserFormPage()">თანამშრომლების ინფო</button>
          <div class="line"></div>
        </div>
        <div class="tab" >
          <button >ლეპტოპის მახასიათებლები</button>
          <div class="line active"></div>
          <div class="page-count">
            2/2
          </div>
        </div>
      </div>
        <div class="form-item">
            <div class="container">
                <form [formGroup]="laptopForm">
                    <app-image-dropzone (onchange)="onSelect($event)" [math]="math" [uploaded]="uploaded" [files]="files" [isSubmited]="isSubmited"></app-image-dropzone>
                    <div class="input-fields">
                        <app-input-field placeHolder="" patternText="გამოიყენე ლათინური ასოები, ციფრები ან !@#$%^&*()-_+="  top="true" controlName="ლეპტპოპის სახელი" control="laptop_name" hint="ლათინური ასოები, ციფრები, !@#$%^&*()_+=" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                        <app-select control="laptop_brand_id" [items]="brands" label="ბრენდი" [form]="laptopForm"></app-select>
                    </div>
                    <div class="input-fields">
                        <app-select control="laptop_cpu" [items]="cpus" label="CPU" [form]="laptopForm"></app-select>
                        <app-input-field placeHolder="" patternText="გამოიყენე მხოლოდ ციფრები"  top="true" controlName="CPU-ს ბირთვი" control="laptop_cpu_cores" hint="მხოლოდ ციფრები" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                        <app-input-field placeHolder="" patternText="გამოიყენე მხოლოდ ციფრები"  top="true" controlName="CPU-ს ნაკადი" control="laptop_cpu_threads" hint="მხოლოდ ციფრები" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                    </div>
                    <div class="input-fields">
                        <app-input-field placeHolder="" patternText="გამოიყენე მხოლოდ ციფრები"  top="true" controlName="ლეპტოპის RAM (GB)" control="laptop_ram" hint="მხოლოდ ციფრები" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                        <app-input-field-option optionOne="SSD" optionTwo="HDD"  [isSubmited]="isSubmited" control="laptop_hard_drive_type" controlName="მეხსიერების ტიპი" option="laptop_hard_drive_type" [form]="laptopForm"></app-input-field-option>
                    </div>
                    <div class="input-fields">
                        <app-input-field placeHolder="დდ/თთ/წწწწ" patternText="ჩაწერე სწორი თარიღი"  top="true" controlName="შეძენის რიცხვი (არჩევითი)" control="laptop_purchase_date" hint="ლათინური ასოები, ციფრები, !@#$%^&*()_+=" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                        <app-input-field placeHolder="" patternText="ჩაწერეთ სწორი რიცხვი"  top="true" controlName="ფასი" control="laptop_price" hint="მხოლოდ ციფრები" [form]="laptopForm" [isSubmited]="isSubmited"></app-input-field>
                    </div>
                    <div class="input-fields">
                        <app-input-field-option optionOne="new" optionTwo="used"  [isSubmited]="isSubmited" control="laptop_state" controlName="ლეპტოპის მდგომარეობა" option="laptop_hard_drive_type" [form]="laptopForm"></app-input-field-option>
                    </div>
                    <div class="laptop-submit-wrapper">
                        <div class="submit-wrapper-items">
                            <button (click)="toUserFormPage()"><a>უკან</a></button>
                            <input (click)="onSubmit()" type="submit" value="დამახსოვრება">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>
<div class="pop-up" *ngIf="showPopUp">
    <div class="items">
        <div class="success"></div>
        <div class="success-message">
            ჩანაწერი დამატებულია!
        </div>
        <a  class="toList" routerLink="/data-list">სიაში გადაყვანა</a>
        <a  class='toHome'routerLink="/home">მთავარი</a>
    </div>
</div>